# Unity generated
Library/
Temp/
Logs/
UserSettings/
Obj/
Build/
Builds/
Assets/02_Textures/
Assets/02_Textures.meta/
*.tmp

# Visual Studio / VS Code
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# OS generated
.DS_Store
Thumbs.db
.utmp/
